# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Coverage / test
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Local files
*.swp
*.swo